In [1]:
import plotly.express as px
import pandas as pd

df = pd.read_csv("dataset.csv", infer_datetime_format=True, parse_dates=True)
df["magnitude"] = df["magnitude"].round(1)
df["date"] = pd.to_datetime(df["date"], infer_datetime_format=True)
df = df[df["date"] < "2023-01-01"]
df["time_since_last_earthquake"] = df.date.diff().map(lambda x: x.total_seconds() / 86400)
df

,rms,eventID,location,latitude,longitude,depth,magnitude,country,province,district,date,idsource,Last Quake
0,0.00,237968,Mengen (Bolu),41.000,32.000,7.00,3.7,Türkiye,Bolu,Mengen,1990-01-06 12:59:39.000,NAF02,NaN
1,0.00,237972,Merkez (Sivas),39.740,36.960,1.00,4.0,Türkiye,Sivas,Merkez,1990-01-08 10:44:47.640,NAF03,1.906350
2,0.00,237974,Göynük (Bolu),40.370,30.810,7.00,3.1,Türkiye,Bolu,Göynük,1990-01-17 15:49:11.630,NAF01,9.211389
3,0.00,237980,Sungurlu (Çorum),40.270,34.480,1.00,3.8,Türkiye,Çorum,Sungurlu,1990-01-29 15:33:14.000,NAF04,11.988916
4,0.00,237985,Mengen (Bolu),41.000,32.000,4.00,3.7,Türkiye,Bolu,Mengen,1990-02-02 22:07:34.000,NAF02,4.273843
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41022,0.17,539849,Erenler (Sakarya),40.676,30.433,7.06,2.1,Türkiye,Sakarya,Erenler,2022-12-31 15:58:05.000,NAF01,0.301678
41023,0.13,539854,Kaynaşlı (Düzce),40.781,31.375,7.02,2.1,Türkiye,Düzce,Kaynaşlı,2022-12-31 18:01:53.000,NAF01,0.085972
41024,0.14,539857,Refahiye (Erzincan),39.923,39.061,7.20,2.8,Türkiye,Erzincan,Refahiye,2022-12-31 18:21:02.000,NAF03,0.013299
41025,0.85,539858,Şiran (Gümüşhane),40.281,39.054,7.00,2.8,Türkiye,Gümüşhane,Şiran,2022-12-31 20:34:40.000,NAF03,0.092801
41026,0.26,539861,Akyazı (Sakarya),40.692,30.590,7.00,2.1,Türkiye,Sakarya,Akyazı,2022-12-31 21:12:31.000,NAF01,0.026285

In [23]:
df.groupby('idsource').agg(
    {'magnitude': ['min', 'mean', 'median', 'max'],
     'depth': ['min', 'mean', 'median', 'max', 'count'],
     }
).round(2)

         magnitude                   depth
               min  mean median  max   min  mean median    max  count
idsource
NAF01          1.3  3.05    3.0  7.2   0.0  8.22    7.0  83.07  16982
NAF02          1.3  3.02    3.1  6.0   0.0  7.59    7.0  70.50   7427
NAF03          1.3  3.07    3.1  6.9   0.0  7.87    7.0  80.39  13609
NAF04          1.3  2.95    2.9  5.2   0.0  7.73    7.0  59.57   3009